DB_DRIVER=sqlite
# DB_DRIVER=mysql
# DB_HOST=localhost
DB_NAME=weight_log
# DB_USER=weight_log7u
# DB_PASSWORD=YourSecureDbPasswordGoesHere...
TABLE_NAME=weight_log
#
TABLE_USERS=users
GOOGLE_CLIENT_ID=GoogleClientIdGoesHere...
GOOGLE_CLIENT_SECRET=GoogleClientSecretGoesHere...
GOOGLE_CALLBACK_URL=https://your-domain-name.com/callback.php